
.cuerpo {
    grid-row: 2 / 3;
    background-image: url(https://images5.alphacoders.com/834/834669.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}

.cuerpo-form {
    display: grid;
    width: 50vw;
    height: 60vh;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    outline: 2px solid #999;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-columns: 80px 1fr;
}

.cuerpo-form__titulo, .cuerpo-form__icon, .cuerpo-form__submit {
    align-self: center;
    justify-self: center;
}

.cuerpo-form__titulo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.cuerpo-form__icon {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    width: 50px;
    height: 40px;
    justify-content: center;
    align-items: center;
    justify-self: end;
    color: #fff;
    margin-left: 15px;
}

.cuerpo-form__input {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 40px;
    align-self: center;
    margin-right: 70px;
    padding-left: 10px;
}

.cuerpo-form__submit {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    width: 380px;
    height: 50px;
    color: #0f9;
    background: rgb(122,73,235);
    background: linear-gradient(90deg, rgba(122,73,235,1) 22%, rgba(29,238,113,1) 81%);
    border: 1px solid #eee;
}

.cuerpo-form__submit:hover {
    cursor: pointer;
    filter: brightness(0.85);
}