
.cuerpo {
    grid-row: 2 / 3;
    background-image: url(https://images7.alphacoders.com/478/478453.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.cuerpo-fondo {
    background-color: rgba(0,0,0,0.5);
    width: 80vw;
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cuerpo-titulo {
    color: #fff;
}

.cuerpo-tabla {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    width: 95%;
    max-width: 95%;
    height: 85%;
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    align-self: center;
    overflow: auto;
}

.cuerpo-tabla__encabezado {
    background: rgb(123,92,227);
    background: linear-gradient(90deg, rgba(123,92,227,1) 34%, rgba(0,215,255,1) 89%);
    font-weight: bold;
    color: #fff;
}

.cuerpo-tabla__cuerpo {
    overflow: auto;
}

.cuerpo-tabla__categoriaButton, .cuerpo-tabla__coberturaButton {
    text-decoration: none;
    display: flex;
    height: 30px;
    width: 380px;
    align-self: center;
    background: rgb(122,73,235);
    background: linear-gradient(90deg, rgba(122,73,235,1) 22%, rgba(29,238,113,1) 81%);
    border: 1px solid #eee;
    margin: 10px;
    color: #0f9;
    justify-content: center;
    align-items: center;
}

.cuerpo-tabla__categoriaButton:hover, .cuerpo-tabla__coberturaButton:hover {
    filter: brightness(0.95);
}

.td-1 {
    max-width: 50px;
}

/*----------------------------------------------------------------------------*/

.cuerpo-fondo {
  overflow-x: auto;
}

.cuerpo-tabla {
  table-layout: fixed;
  width: 100%;
}

.cuerpo-tabla__encabezado td,
.cuerpo-tabla__cuerpo td {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.cuerpo-tabla__encabezado .td-1 {
  width: 10%;
}

.cuerpo-tabla__encabezado td:not(.td-1) {
  width: 30%;
}

.cuerpo-tabla__cuerpo .table-image {
  width: 10%;
}

.cuerpo-tabla__cuerpo td:not(.table-image) {
  width: 30%;
}

.table-coberturas {
  overflow-x: auto;
  white-space: nowrap;
}