
.cuerpo {
    grid-row: 2 / 3;
    background: url(https://images6.alphacoders.com/631/631203.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.cuerpo__fondo {
    background: rgba(0, 0, 0, 0.24);
    display: grid;
    height: 85vh;
    width: 90vw;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    border-radius: 5px;
    filter: transparent(50%);
}

.cuerpo__Titulo {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: #fff;
    text-align: center;
}

.cuerpo-DatosUsuario, .cuerpo-DatosTarjeta {
    grid-row: 2 / 3;
    background: rgba(0,0,0,0.9);
    margin: 0px 20px;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 50px 1fr;
}

.cuerpo-DatosUsuario__Titulo, .cuerpo-DatosTarjeta__Titulo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
} 

.cuerpo-DatosUsuario {
    grid-column: 1 / 2;
}

.cuerpo-DatosTarjeta {
    grid-column: 2 / 3;
}

.cuerpo-DatosUsuario__item, .cuerpo-DatosTarjeta__item {
    grid-column: 2 / 3;
    margin: 15px 0px;
    align-self: center;
}

.cuerpo-DatosUsuario__icon, .cuerpo-DatosTarjeta__icon {
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
}

.cuerpo-EditarButton {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    height: 50px;
    width: 380px;
    color: #0f9;
    background: rgb(122,73,235);
    background: linear-gradient(90deg, rgba(122,73,235,1) 22%, rgba(29,238,113,1) 81%);
    border: 1px solid #eee;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
} 

.cuerpo-EditarButton:hover {
    filter: brightness(0.85);
}