
.fondo {
    background-image: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/a269d7b4-87a9-4057-9ac5-2565e56a188e/bvlatuR/std/4096x2560/Homepage-Model-3-Desktop-LHD?quality=auto-medium&amp;format=auto);
    background-size: cover;
    background-position: center;
    /*clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);*/
    filter: brightness(0.85);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    animation-name: presentacion;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    z-index: 1;
}

.cuerpo {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    justify-self: center;
    z-index: 2;
}

@Keyframes presentacion {
    25% {
        background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/05a76324-947e-453b-a628-8b2d759756fa/bvlatuR/std/2880x1800/Homepage-Model-X-Desktop-LHD?quality=auto-medium&amp;format=auto);
        background-size: cover;
        background-position: center;
    }
    50% {
        background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/898c2038-c428-452c-84bf-034d5c48ca8e/bvlatuR/std/4096x2560/Model-S-homepage-desktop);
        background-size: cover;
        background-position: center;
    }
    75% {
        background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/dfa1ee09-8585-422e-a32a-067e14159aa0/bvlatuR/std/2880x2400/Homepage-Model-Y-Global-Desktop?quality=auto-medium&amp;format=auto);
        background-size: cover;
        background-position: center;
    }
    100% {
        background: url(https://tesla-cdn.thron.com/delivery/public/image/tesla/a269d7b4-87a9-4057-9ac5-2565e56a188e/bvlatuR/std/4096x2560/Homepage-Model-3-Desktop-LHD?quality=auto-medium&amp;format=auto);
        background-size: cover;
        background-position: center;
    }
}

